version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://backend:80
    ports:
      - "8081:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: project2
      DB_PASSWORD: project2
      DB_NAME: project2
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: project2root
      MYSQL_DATABASE: project2
      MYSQL_USER: project2
      MYSQL_PASSWORD: project2
    ports:
      - "3309:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
